body{
    background-color: lightgrey;
    opacity: 1;
}

p{
    color: black;
}

h1{
    color: black;
    text-align: center;
}

h4{
    color: black;
}

div{
    text-align: center;
    color: black;
    text-decoration: underline;
}

a:link{
    color: black;
}

a:hover{
    color: black;
}

a:visited{
    color: black;
}

a:active{
    color: black;
}